@import "./Utils/variable";
@import "./Utils/mixin";
@import "./Utils/responsive";
@import "./Base/typography";
@import "./Base/normalize";
@import "./composants/buttons";
@import "./Layout/header";
@import "./Layout/footer";
@import "./Layout/section";
@import "./Layout/nav";
@import "./Layout/article";



h2{
    font-family: 'Roboto', Times, serif;
}

ul{
    list-style-type: none;
}
