footer{
    color: $color-font-footer;
    background-color: rgb(58, 57, 57);
    margin-bottom: 0%;
    border: 1px solid rgb(58, 57, 57);
    & h1{
        font-family: 'Shrikhand-regular', Times, serif;
        font-size: medium;
        font-weight: 100;
        color: $color-font-footer;
        margin-left: 30px;
        padding-top: 20px;
      }

    & ul{
        padding-left: 25px;
    }

    & li{
          font-family: 'Roboto', Times, serif;;
          font-size: small;
          width: fit-content;
          padding: 5px;
          margin-left: 0;
          & .fa-solid{
              margin-right: 10px;
          }
          & a{
              color: $color-font-footer;
              text-decoration: none;
          }
          &:hover{
            cursor:pointer;
          }
      }

    }