/*-------Header--------*/

header{

  box-shadow: 1px 2px 2px rgba(black,0.2);
  padding-bottom: 3px;
    & h1{
        font-family: 'Shrikhand-regular', Times, serif;
        text-align: center;
        font-weight: 100;
      }
    }
