
section{
    padding-bottom: 100px;
    background-color: $color-background-resto;
    & h2{
        font-family: $font-logo;
        font-size: 28px;
        font-weight: 500;

    }
}

.image{
    &_resto{
        height: 300px;
        width: 100%;
        z-index: 0;
        background-image:url(./image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
}
.menu{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    margin-top: -60px;
    background-color: $color-background-resto;

    &_titre{
        font-family: $font-logo;
        width: auto;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        padding-top: 15px;
        & i{
            padding-top: 30px;
            margin-right: 40px;
        }
    }
    
}
.type{
    margin-bottom: 50px;
    
    
    & h4{
        font-family: $font-light;
        color: $color-font-section;
        width: fit-content;
        border-bottom: 3px solid $color-tertiary;
        margin-left: 20px;
    }

    &_element{

        @include bbox-shadow-main;
        margin: 20px;
        border-radius:15px;
        display: flex;
        font-family: $font-title;
        justify-content: space-between;
        background-color: white;
        & p{
            font-family: $font-light;
            padding-left: 10px;
        }
        & h3{
            padding-left: 10px;
            margin-bottom: -8px;
        }
    }
}
.prix{
    margin-top: 50px;
    margin-right: 30px;

}
.order_btn{
    @include btn_core;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
    width: 100px;
    &:hover{
        cursor:pointer;
    }

    
}
