/*---------bouton dégradé -------*/
.explore{
    &_btn{
        text-align: center;
    
        & a{
            @include btn_core;
            margin-top: 15px;
           
            
        }
    }
}

