/* -----Import des font---------*/
@font-face {
    font-family: 'Shrikhand-regular';
    src: url('./font/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-l';
    src: url('./font/Roboto-Light.ttf');
}
