@mixin btn_core{
    background:linear-gradient($color-secondary,$color-primary);
    padding: 15px;
    padding-left: 23px;
    padding-right:23px;
    border-radius: 25px;
    text-decoration: none;
    color:$color-font-footer;
    box-shadow: 2px 2px 2px -2px -1px rgba(grey,0.3);
}
@mixin bbox-shadow-main{
    box-shadow: 3px 6px 4px rgba(grey,0.2);
}