@mixin btn_core{
    background:$color-bouton;
    padding: 15px;
    padding-left: 23px;
    padding-right:23px;
    border-radius: 25px;
    text-decoration: none;
    color:$color-font-footer;
    box-shadow: 2px 2px 2px -2px -1px rgba(grey,0.3);
    width:fit-content;
    font-family: $font-title;

    @include bbox-shadow-main;

    &:hover{
       background: linear-gradient($color-secondary-light,$color-primary-light);

    }
}
@mixin bbox-shadow-main{
    box-shadow: $shadow_button;
    &:hover{
        box-shadow: $shadow_button_hover;
    }
}

