$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-font-footer:white;
$color-font-section:rgb(58, 57, 57);
$color-background:rgba(235, 236, 238, 0.4);
$color-background-resto:rgb(248, 250, 255);
$font-title:'Roboto', Times, serif;
$font-logo:'Shrikhand-regular', Times, serif;
$font-light:'Roboto-l', Times, serif;